.create-task-button {
  height: 60px;
  padding: 0 20px;
  border-radius: 16px;
  background-color: var(--color-secondary-bg);
  color: var(--color-text);
  font-size: 20px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}