.create-task-button {
  height: 70px;
  width: 300px;
  border-radius: 16px;
  background-color: var(--bg-secondary);
  color: var(--text-color);
  font-size: 20px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}