.app-container {
  min-height: 100vh;
  background-color: var(--color-primary-bg);
  transition: background-color 0.3s ease;
}

.main-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  padding-top: 5rem;
}

@media (min-width: 640px) {
  .main-content {
    padding: 1.5rem;
    padding-top: 5rem;
  }
}

@media (min-width: 1024px) {
  .main-content {
    padding: 2rem;
    padding-top: 5rem;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
  width: 0 !important;
  height: 0 !important;
}

.scrollbar-sm {
  scrollbar-width: 6px;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.scrollbar-sm::-webkit-scrollbar {
  width: 6px;
  /* Safari and Chrome */
  height: 6px !important;
}

.scrollbar-sm::-webkit-scrollbar-track {
  background: #464646A8;
  border-radius: 3px;
}

.scrollbar-sm::-webkit-scrollbar-thumb {
  background-color: #A0A0A0;
  border-radius: 10px;
  border: 1px solid transparent;
}

.scrollbar-sm::-webkit-scrollbar-thumb:hover {
  background-color: #CBCBCB;
}

.scrollbar-sm::-webkit-scrollbar-button {
  display: none;
  /* Safari and Chrome */
}