.rotate-outline {
  animation-name: rotate-outline;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.push-pull-outline {
  animation-name: push-pull-outline;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: 200% 200%;
}

@keyframes rotate-outline {
  0% {
    --gradient-angle: 0deg;
  }

  25% {
    --gradient-angle: 90deg;
  }

  50% {
    --gradient-angle: 180deg;
  }

  75% {
    --gradient-angle: 270deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

@keyframes push-pull-outline {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}